/**
 *
 * Galeria
 *
 */
.Galeria-slide {
  background: #fff;
  border-top: 2px solid #db3a92;
  border-right: 2px solid #fa4d34;
  border-bottom: 2px solid #81b32d;
  border-left: 2px solid #2cb4ed;
  margin: 20px 0 100px 0;
  overflow: hidden;
  position: relative;
}
.Galeria-slide-check {
  position: absolute;
  top: 7px;
  right: 7px;
  display: inline-block;
  width: 32px;
}
.Galeria-slide-title {
  font-size: 24px;
  padding: 8px;
  color: #272727;
  width: 80%;
}
.Galeria-slide-descripcion {
  padding: 35px;
  background: #fff;
}
.Galeria-slide-fecha {
  background: #e0e0e0;
  font-size: 12px;
  font-weight: 600;
  text-align: right;
  padding: 8px;
}
.Galeria-slide-foto-img {
  display: inline-block;
  width: 100%;
}
