/**
 *
 * Login
 *
 */
.Login {
  position: relative;
  padding: 10vw;
}
.Login-logo {
  text-align: center;
  margin-bottom: 50px;
}
.Login-logo img {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  -webkit-animation: slide-in-blurred-left 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: slide-in-blurred-left 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.Login-form {
  margin: 15px 0;
}
.Login-form .login-group {
  margin-bottom: 15px;
  position: relative;
}
.Login-form .login-group .login-control {
  background: transparent;
  border-radius: 5px;
  border: 4px dashed #006aaa;
  color: #0e3e4a;
  padding: 4px 4px 4px 1em;
  display: block;
  width: 100%;
  font-weight: 900;
  font-size: 22px;
  outline: none;
}
.Login-form .login-group .login-control-icon {
  width: 28px;
  position: absolute;
  top: 50%;
  right: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
