/**
 *
 * Seguimiento Academico
 *
 */
.Seguimiento {
  position: relative;
}
.Options {
  position: relative;
}
.Options-container {
  background: #fff;
  position: relative;
  margin: 35px 0;
  border: 3px solid #000;
}
.Options-container-date {
  font-size: 32px;
  text-align: center;
  background: #FF9800;
}
.Options-container-note {
  background: #FFEB3B;
  text-align: right;
  padding: 0 8px;
}
.Options-option {
  position: relative;
}
.Options-option-catalog {
  background: #eee;
  font-size: 22px;
  font-weight: 600;
  padding: 8px 0;
  text-align: center;
}
.Options-option-faces {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.Options-option-face {
  background: #eee;
  padding: 15px;
  opacity: 0.2;
}
.Options-option-face.active {
  opacity: 1;
}
.Options-option-face img {
  display: inline-block;
  width: 100%;
}
