/**
 *
 * IRIS
 *
 */

@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
    ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
    ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
    ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile: ~"only screen and (max-width: 529px)";
@tablet: ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop: ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl: ~"only screen and (min-width: 1129px)";

@font-face {
    font-family: 'do_hyeonregular';
    src: url('dohyeon-regular-webfont.woff2') format('woff2'),
        url('dohyeon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    touch-action: manipulation;
}

body {
    font-size: 16px;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background: #fff url("../img/icono.svg") no-repeat center fixed;
    background-size: contain;
    font-family: do_hyeonregular;
    position: relative;
    z-index: 1;

    &.ready {
        &::before {
            transform: translateY(0);
        }
    }

    &::before {
        content: "";
        position: fixed;
        bottom: 0;
        width: 100vw;
        left: 0;
        background: transparent url(../img/background.svg) no-repeat bottom center fixed;
        z-index: -1;
        height: 100px;
        background-size: 100%;
        transform: translateY(100px);
        transition: all 1s ease-in;
    }
}

.invalid {
    border-color: #F44336 !important;
}

#loading {
    align-items: center;
    background: #262424 url(../img/loading.svg) no-repeat center center fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#renderBody {
    margin-bottom: 100px;
}

#layoutLogin {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header {
    position: relative;
    display: flex;
    justify-content: space-around;
    background: #eee;
    border-bottom: 2px solid #eee;
    padding: 8px 0;
    margin-bottom: 35px;
    border-top: 15px solid #2674b3;
    animation: borderTopColor 100s linear both infinite alternate;

    &-link {
        display: block;
        width: 64px;
        background: transparent;
        border: 0;
        margin: 10px;

        & img {
            display: inline-block;
            width: 100%;
        }
    }
}

@keyframes borderTopColor {
    0% {
        border-top-color: #b3792d;
    }

    10% {
        border-top-color: #703e3d;
    }

    20% {
        border-top-color: #fc8f87;
    }

    30% {
        border-top-color: #da3c93;
    }

    40% {
        border-top-color: #c50358;
    }

    50% {
        border-top-color: #de363e;
    }

    60% {
        border-top-color: #fdb530;
    }

    70% {
        border-top-color: #82b32e;
    }

    80% {
        border-top-color: #028161;
    }

    100% {
        border-top-color: #05aab1;
    }
}

#btn-logout {
    background: #b7004e;
    border-radius: 5px;
    border: 0;
    bottom: 8px;
    padding: 8px;
    position: fixed;
    right: 8px;
    text-align: center;
    z-index: 999;

    & img {
        display: inline-block;
        width: 24px;
    }
}

.formIris {
    background: #f5f5f5;
    border-radius: 10px;
    border: 2px solid #eee;
    box-shadow: 0px 5px 0px 0px #eee;
    margin-bottom: 160px;
    padding: 25px;
    position: relative;

    &.no-margin {
        margin-bottom: 0px;
    }

    &-group {
        margin-bottom: 35px;

        &-control {
            width: 100%;
        }
    }
}