/**
 *
 * IRIS
 *
 */
@font-face {
  font-family: 'do_hyeonregular';
  src: url('dohyeon-regular-webfont.woff2') format('woff2'), url('dohyeon-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
body {
  font-size: 16px;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  background: #fff url("../img/icono.svg") no-repeat center fixed;
  background-size: contain;
  font-family: do_hyeonregular;
  position: relative;
  z-index: 1;
}
body.ready::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
body::before {
  content: "";
  position: fixed;
  bottom: 0;
  width: 100vw;
  left: 0;
  background: transparent url(../img/background.svg) no-repeat bottom center fixed;
  z-index: -1;
  height: 100px;
  background-size: 100%;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.invalid {
  border-color: #F44336 !important;
}
#loading {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #262424 url(../img/loading.svg) no-repeat center center fixed;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
#layoutLogin {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  background: #eee;
  border-bottom: 2px solid #eee;
  padding: 8px 0;
  margin-bottom: 35px;
  border-top: 15px solid #2674b3;
  -webkit-animation: borderTopColor 100s linear both infinite alternate;
          animation: borderTopColor 100s linear both infinite alternate;
}
.Header-link {
  display: block;
  width: 64px;
  background: transparent;
  border: 0;
  margin: 10px;
}
.Header-link img {
  display: inline-block;
  width: 100%;
}
@-webkit-keyframes borderTopColor {
  0% {
    border-top-color: #b3792d;
  }
  10% {
    border-top-color: #703e3d;
  }
  20% {
    border-top-color: #fc8f87;
  }
  30% {
    border-top-color: #da3c93;
  }
  40% {
    border-top-color: #c50358;
  }
  50% {
    border-top-color: #de363e;
  }
  60% {
    border-top-color: #fdb530;
  }
  70% {
    border-top-color: #82b32e;
  }
  80% {
    border-top-color: #028161;
  }
  100% {
    border-top-color: #05aab1;
  }
}
@keyframes borderTopColor {
  0% {
    border-top-color: #b3792d;
  }
  10% {
    border-top-color: #703e3d;
  }
  20% {
    border-top-color: #fc8f87;
  }
  30% {
    border-top-color: #da3c93;
  }
  40% {
    border-top-color: #c50358;
  }
  50% {
    border-top-color: #de363e;
  }
  60% {
    border-top-color: #fdb530;
  }
  70% {
    border-top-color: #82b32e;
  }
  80% {
    border-top-color: #028161;
  }
  100% {
    border-top-color: #05aab1;
  }
}
#btn-logout {
  background: #b7004e;
  border-radius: 5px;
  border: 0;
  bottom: 8px;
  padding: 8px;
  position: fixed;
  right: 8px;
  text-align: center;
  z-index: 999;
}
#btn-logout img {
  display: inline-block;
  width: 24px;
}
.formIris {
  background: #f5f5f5;
  border-radius: 10px;
  border: 2px solid #eee;
  box-shadow: 0px 5px 0px 0px #eee;
  margin-bottom: 160px;
  padding: 25px;
  position: relative;
}
.formIris.no-margin {
  margin-bottom: 0px;
}
.formIris-group {
  margin-bottom: 35px;
}
.formIris-group-control {
  width: 100%;
}
